@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@layer base {
  /*
  :root {
    --background: oklch(0.95 0 0);
    --foreground: oklch(0.15 0 0);
    --muted: oklch(0.446 0.03 256.802);
    --muted-foreground: oklch(0.967 0.003 264.542);
    --info: oklch(0.588 0.158 241.966);
    --info-foreground: oklch(0.951 0.026 236.824);
    --error: oklch(0.577 0.245 27.325);
    --error-foreground: oklch(0.936 0.032 17.717);
    --warning: oklch(0.681 0.162 75.834);
    --warning-foreground: oklch(0.973 0.071 103.193);
    --success: oklch(0.627 0.194 149.214);
    --success-foreground: oklch(0.962 0.044 156.743);
  }

  .dark {
    --background: oklch(0.15 0 0);
    --foreground: oklch(0.95 0 0);
    --muted: oklch(0.278 0.033 256.848);
    --muted-foreground: oklch(0.967 0.003 264.542);
    --info: oklch(0.443 0.11 240.79);
    --info-foreground: oklch(0.951 0.026 236.824);
    --error: oklch(0.444 0.177 26.899);
    --error-foreground: oklch(0.936 0.032 17.717);
    --warning: oklch(0.476 0.114 61.907);
    --warning-foreground: oklch(0.973 0.071 103.193);
    --success: oklch(0.448 0.119 151.328);
    --success-foreground: oklch(0.962 0.044 156.743);
  } */
}

@theme {
  /* --color-black: #000;
  --color-white: #fff;
  --color-transparent: transparent;
  --color-current: currentColor;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-red-*: initial;
  --color-orange-*: initial;
  --color-amber-*: initial;
  --color-yellow-*: initial;
  --color-lime-*: initial;
  --color-green-*: initial;
  --color-emerald-*: initial;
  --color-teal-*: initial;
  --color-cyan-*: initial;
  --color-sky-*: initial;
  --color-blue-*: initial;
  --color-indigo-*: initial;
  --color-violet-*: initial;
  --color-purple-*: initial;
  --color-fuchsia-*: initial;
  --color-pink-*: initial;
  --color-rose-*: initial;
  --color-slate-*: initial;
  --color-gray-*: initial;
  --color-zinc-*: initial;
  --color-neutral-*: initial;
  --color-stone-*: initial;
*/
}
